extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, facilis necessitatibus? Quasi illum iure quo eum culpa. Animi incidunt aspernatur facilis atque iste laudantium libero laborum illo consequuntur.
                p LLorem ipsum dolor sit amet consectetur adipisicing elit. Sed, voluptatem? Consequatur, tempore consequuntur adipisci ducimus praesentium corrupti recusandae harum nam, illo delectus alias, nostrum esse fugit deleniti dicta dignissimos fuga libero quae cum nobis aut earum quis eos iusto? Voluptates libero impedit aut perferendis. Eligendi rem architecto esse accusantium sit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita officia magni, praesentium ducimus harum saepe nulla ipsum ea ipsam reprehenderit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores commodi ducimus laudantium laborum explicabo suscipit recusandae.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores commodi ducimus laudantium laborum explicabo suscipit recusandae.
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores commodi ducimus laudantium laborum explicabo suscipit recusandae.
